body {
  background: radial-gradient(white, grey, red);
  background-color: white;
}

/* hire is navibar whit border */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid black; */
}

/* try to using logo */
.logo img {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

/* adding stayling for first menu */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul li a:hover {
  background-color: #9f3f3f;
  color: #333;
}

/* somthing new from w3school  */
.search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search input[type="text"] {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-right: 5px;
}

.search button {
  background-color: white;
  color: gray;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

main {
  padding: 20px;
}

.articles {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.articles article {
  flex: 0 1 calc(33.33% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  
  
}

.flex-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  
}

.flex-articles article {
  flex: 0 1 calc(33.33% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  /* border: 1px solid rgb(49, 39, 39);
  border-radius: 5px; */
}

.articles h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.image-container {
  margin: 1px;
}

.image-container img {
  max-width: 300px;
  height: 200px;
}

.footer {
  text-align: center;
  background-color: #8c6969;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
